table
{
    font-family: georgia;
    position: relative;
    left: 1.5%;
    border-collapse: collapse;
    text-align:center;
    font-size:1.2rem;
    left:5vw;
    top : 2vh;  
    width: 75vw;

}

tr td
{
    border:1pt solid black;

}

tr th
{
    border:2pt solid black;
}

.banCust
{
    background-color: #87E990;
}

tbody {
    display:block;
    max-height:65vh;
    overflow-y:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/
}