.vertical-menu {
    background: -webkit-linear-gradient(top, #ffe436, #87E990);
    text-align: center;
    font-size: 1.4rem;
    margin-left:10px;
    height:100%;
    padding-top:2vh;
}

.vertical-menu a {
    color: black;
    display: block;
    position: relative;
    top:5%;
    padding:5%;
    text-decoration: none;
    opacity: 0.8;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: #ffe436;
}

.navButton{
    font-size: 1.55rem;
}

.vertical-menu a:hover
{
    cursor: hand;
    opacity: 1;
}
	